debugpy
Flask
requests
sqlalchemy
pydantic
pytest
pydantic_settings
pymysql
pymongo
mongomock
python-dotenv
pytest-mock
requests_mock
asyncio
psycopg2
pydriller
sqlalchemy-utils
black
flake8
mypy
isort
autopep8
pylint
GitPython
types-requests
types-sqlalchemy
types-sqlalchemy_utils
holidays
pytz
argparse
Faker