debugpy
uvicorn
requests
sqlalchemy
sqlalchemy[asyncio]
asyncpg
pydantic
pytest
pytest-asyncio
pytest-mock
pydantic_settings
pymysql
pymongo
mongomock
python-dotenv
asyncio
aiohttp
aioresponses
psycopg2
pydriller
sqlalchemy-utils
black
flake8
mypy
isort
autopep8
pylint
GitPython
types-requests
types-sqlalchemy
types-sqlalchemy_utils
holidays==0.49
pytz
argparse
Faker
pandas
pandas-stubs
fastapi