debugpy
Flask
flask[async]
requests
sqlalchemy
pydantic
pytest
pytest-asyncio
pytest-mock
pydantic_settings
pymysql
pymongo
mongomock
python-dotenv
requests_mock
asyncio
psycopg2
pydriller
sqlalchemy-utils
black
flake8
mypy
isort
autopep8
pylint
GitPython
types-requests
types-sqlalchemy
types-sqlalchemy_utils
holidays
pytz
argparse
Faker